.pageNumber {
    margin: 0 8px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

.pageNumbers {
    margin-bottom: 5px;
    text-align: center;
}

.pageNumber:hover {
    background: rgb(233, 233, 233);
    text-decoration: underline;
}

.selectedPage {
    font-weight: bold;
}