.iqTopNavbar {
  width: auto;
  left: 0;
  right: 0;
  padding: 0 15px;
  min-height: 73px;
  line-height: 73px;
  position: fixed;
  top: 0;
  display: inline-block;
  z-index: 9999;
  background: #ffffff;
  margin: 0;
  transition: all 0.45 ease 0s;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 0.1);
}

.iqTopNavbar .navbar-expand-lg {
  justify-content: space-between !important;
}

.iqMenuBt {
  padding: 12px 7px;
  margin: 0 15px;
  transition: all 0.3s ease-out 0s;
  border-radius: 12px;
}

.wrapperMenu {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  color: #777d74;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}