.nav {
    grid-area: n;
    background-color: green;
    padding: 5px;
  }
  .item{
      color: white;
      margin: 10px 0px 20px 15px;
      cursor: pointer;
  }
  .item:hover{
      color: greenyellow;
  }
  .item a.activeLink{
      color: gold;
  }
  .item.active:hover{
      color: white;
  }
  .item a{
      font-size: 20px;
      font-weight: bold;
      font-family: sans-serif;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
  }